<div class="header header-search">
    <div class="search">
        <input type="search" placeholder="{{searchPlaceholder || ('searchVault' | i18n)}}" id="search"
            [(ngModel)]="searchText" (input)="search(200)" autocomplete="off" appAutofocus appInputVerbatim>
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</div>
<div class="content">
    <ng-container *ngIf="(isPaging() ? pagedCiphers : ciphers) as filteredCiphers">
        <div class="list" *ngIf="filteredCiphers.length" infiniteScroll [infiniteScrollDistance]="1"
            [infiniteScrollContainer]="'#items .content'" [fromRoot]="true" [infiniteScrollDisabled]="!isPaging()"
            (scrolled)="loadMore()">
            <a *ngFor="let c of filteredCiphers" appStopClick (click)="selectCipher(c)"
                (contextmenu)="rightClickCipher(c)" href="#" title="{{'viewItem' | i18n}}"
                [ngClass]="{'active': c.id === activeCipherId}" class="flex-list-item">
                <app-vault-icon [cipher]="c"></app-vault-icon>
                <div class="flex-cipher-list-item">
                    <span class="text">
                        {{c.name}}
                        <ng-container *ngIf="c.organizationId && c.isKonnector">
                            <i class="icon-cozy icon-cozy-sync" title="{{'sharedWithKonnector' | i18n}}" aria-hidden="true"></i>
                            <span class="sr-only">{{'sharedWithKonnector' | i18n}}</span>
                        </ng-container>
                        <ng-container *ngIf="c.organizationId && !c.isKonnector">
                            <app-cozy-icon ref="share" width="16" height="16" title="{{'shared' | i18n}}"></app-cozy-icon>
                            <span class="sr-only">{{'shared' | i18n}}</span>
                        </ng-container>
                        <ng-container *ngIf="c.hasAttachments">
                            <i class="fa fa-paperclip text-muted" title="{{'attachments' | i18n}}" aria-hidden="true"></i>
                            <span class="sr-only">{{'attachments' | i18n}}</span>
                        </ng-container>
                    </span>
                    <span *ngIf="c.subTitle" class="detail">{{c.subTitle}}</span>
                </div>
            </a>
        </div>
        <div class="no-items" *ngIf="!filteredCiphers.length">
            <i class="fa fa-spinner fa-spin fa-3x" *ngIf="!loaded" aria-hidden="true"></i>
            <ng-container *ngIf="loaded">
                <p>{{'noItemsInList' | i18n}}</p>
                <button (click)="addCipher()" class="btn block primary link" *ngIf="!deleted"
                >{{'addItem' | i18n}}</button>
            </ng-container>
        </div>
    </ng-container>
</div>
<div class="footer" [class.readonlyCipher]="isReadOnly">
    <button appBlurClick (click)="addCipher()" (contextmenu)="addCipherOptions()" *ngIf="!isReadOnly"
        class="block primary" appA11yTitle="{{'addItem' | i18n}}" [disabled]="deleted">
        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
    </button>
    <ng-container *ifFlag="CAN_SHARE_ORGANIZATION">
    <app-sharing *ngIf="collectionId && !isCozyConnectors" [collectionId]="collectionId"></app-sharing>
    </ng-container>
    <app-bottom-menu
        *ngIf="!isReadOnly"
        [isTrashContext]="deleted"
        (deleteCurrentCiphers)="deleteCurrentCiphers()"
        (restoreCurrentCiphers)="restoreCurrentCiphers()"
    ></app-bottom-menu>
</div>
